# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Petstore-ApiTest.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\MyProject\Petstore-ApiTest\Petstore-ApiTest\.idea\.idea.Petstore-ApiTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
